
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif'';
}

input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
}

h1{
    font-family: 'Montez', cursive;
    font-weight: normal;
    font-size: 45px;
    position: relative;
    margin: 40px 0;
}

h1::before{
    content: ' ';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #eac761 ;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 300px;
    }
    100%{
        width: 100px;
    }
}

.top-content{
    background-color: #f06e75;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px lightgrey;
}

h3{
    height: 100%;
    background-color: #f2af60;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 20 px;
    padding: 0 30px;
    line-height: 60px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: color .5s;
}

label:hover{
    color: #160921;
}

.galeria_de_fotos{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.fotos{
    position: relative;
    height: 290px;
    border-radius: 8px;
    box-shadow: 3px 3px 4px lightgray;
    cursor: pointer;
    transition: .5s;
}

.fotos img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: .5s;
}

.fotos::before{
    content: "GALERIA DE FOTO";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;
}

.fotos:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    height: 0;
    background-color: rgba(0, 0, 0, .4);
    transition: .3s;
}

.fotos:hover::after{
    height: 100%;
}

.fotos:hover::before{
    margin-top: 0;
    opacity: 1;
}

#check1:checked ~ .container .galeria_de_fotos .fotos{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}

#check2:checked ~ .container .galeria_de_fotos .praia{
    transform:scale(1);
    opacity: 1;
    position: relative;
}

#check2:checked ~ .container .galeria_de_fotos .melancia,
#check2:checked ~ .container .galeria_de_fotos .festa{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check3:checked ~ .container .galeria_de_fotos .melancia{
    transform:scale(1);
    opacity: 1;
    position: relative;
}

#check3:checked ~ .container .galeria_de_fotos .praia,
#check3:checked ~ .container .galeria_de_fotos .festa{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}

#check4:checked ~ .container .galeria_de_fotos .festa{
    transform:scale(1);
    opacity: 1;
    position: relative;
}

#check4:checked ~ .container .galeria_de_fotos .praia,
#check4:checked ~ .container .galeria_de_fotos .melancia{
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0s;
}